
    /* TABLA */
        thead{
            background: #329F5B;
            color: #fff;
        }

    /*navbar*/
    #menu-navbar li.active {
        background: #329F5B;
        color: #fff;
        font-size: 15px;
        
    }
    
    #menu-navbar li {
        color: #A3BDCD;
        font-size: 13px;
        margin: auto;
    }

    .navbar-nav {
        float:none;
        margin:0 auto;
        text-align: center;
    } /*para centrar navbar*/


    /*Blue dark*/
    .bg-blue-dark, .card-header, .modal-header{
        background: #2F4858;
        color: #fff;
    }

    /* Botenes */
        /* verde */
        .bg-verde, .btn-verde{
            background: #329F5B;
            color: #fff;
        }
        .btn-verde:hover{
            background: #267745;
            color: #fff;
        }

        /* Amarillo */
        .bg-amarillo, .btn-amarillo{
            color: #2F4858;
            background: #F9C846 ;
        }

        .btn-amarillo:hover{
            background: #F9C846;
            color: #2F4858;
        }

        /* Gris */
        .bg-gris, .btn-gris{
            color: #fff;
            background: #2F4858 ;
        }

        .btn-gris:hover{
            background: #2F4858;
            color: #fff;
        }
